---
import RootLayout from "../../layouts/RootLayout.astro";
---

<RootLayout title="Blog">
    <section class="flex-1 pt-20">
        <h1 class="font-mono text-xl mb-8">Blog</h1>
    </section>
</RootLayout>
