@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --color-background: oklch(0.1788 0.0075 229.38);
    --color-foreground: oklch(0.966 0.0042 308.24);
    --color-muted: oklch(0.4811 0.0038 17.29);
    --color-accent-100: oklch(0.83 0.1 281); /* #BBC0FF */
    --color-accent-200: oklch(0.72 0.16 281); /* #9496FF */
    --color-accent-400: oklch(0.59 0.25 281); /* #6D58FF */
    --color-accent-500: oklch(0.51 0.3 281); /* #5D10FF */
}

::selection {
    background-color: color-mix(
        in srgb,
        var(--color-accent-200) 10%,
        transparent
    );
    color: var(--color-accent-400);
}

::-moz-selection {
    background-color: color-mix(
        in srgb,
        var(--color-accent-200) 10%,
        transparent
    );
    color: var(--color-accent-400);
}

@utility dbg-* {
    outline: 2px solid --value(--color-*);
}

@utility debug-screens {
    &::before {
        position: fixed;
        top: 0.75rem;
        left: 0.75rem;
        z-index: 9999;
        padding: 0.25rem 0.75rem;
        border-radius: 0.5rem;
        font-family: monospace;
        font-weight: 600;
        font-size: 0.875rem;
        content: "<sm";
        background-color: var(--color-lime-500);
    }

    @media (width >= theme(--breakpoint-sm)) {
        &::before {
            content: "sm";
            background-color: var(--color-amber-500);
        }
    }
    @media (width >= theme(--breakpoint-md)) {
        &::before {
            content: "md";
            background-color: var(--color-red-500);
        }
    }
    @media (width >= theme(--breakpoint-lg)) {
        &::before {
            content: "lg";
            background-color: var(--color-purple-500);
        }
    }
    @media (width >= theme(--breakpoint-xl)) {
        &::before {
            content: "xl";
            background-color: var(--color-sky-500);
        }
    }
    @media (width >= theme(--breakpoint-2xl)) {
        &::before {
            content: "2xl";
            background-color: var(--color-emerald-500);
        }
    }
}
