---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="404">
    <section class="flex-1 grid place-items-center">
        <h1 class="text-foreground font-mono text-3xl">404</h1>
    </section>
</RootLayout>
