---
import "../styles/global.css";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="home">
    <section class="flex flex-col flex-1">
        <div class="my-auto flex justify-between items-center">
            <div class="flex flex-col gap-2 max-w-md">
                <h1 class="font-mono text-xl mb-8">Hello, I'm Petros</h1>
                <p class="text-justify text-sm">
                    I'm a computer scientist from Cyprus based in <span
                        class="text-accent-400">location</span
                    >. I like to build software that no one uses, but that I
                    find fun to build and use :)
                </p>
                <p class="text-justify text-sm">
                    I'm interested in Programming Language theory, Type Systems,
                    Distributed Systems, Concurrency and Functional Programming.
                    I built <a class="text-accent-200">Elixir-Maty</a> as part of
                    my MSci project which brings <a class="text-accent-200"
                        >Multiparty Session Types</a
                    > to Elixir.
                </p>
                <p class="text-justify text-sm">
                    I'm currently building a stepper for the lambda calculus to
                    make playing around with lambda terms a little bit more
                    interactive
                </p>
            </div>
            <div class="bg-accent-500 size-26 rounded-full mr-40">&nbsp;</div>
        </div>
    </section>
</RootLayout>
