---
interface Props {
    tip: string;
}

const { tip } = Astro.props;
---

<span
    class="relative cursor-help w-max
         after:absolute after:bottom-full after:left-1/2 after:-translate-x-1/2 after:mb-2
         after:px-2 after:py-1 after:rounded after:whitespace-nowrap
         after:bg-neutral-800 after:text-white after:text-xs
         after:content-[attr(data-tooltip)]
         after:opacity-0 after:invisible
         hover:after:opacity-100 hover:after:visible
         after:transition-all after:duration-200"
    data-tooltip={tip}
>
    <slot />
</span>
