---
import Layout from "@/layouts/PageLayout.astro";
---

<Layout title="Projects" id="projects">
    <section class="flex-1 pt-20">
        <h1 class="font-mono text-xl mb-8">Projects</h1>
        <p class="my-3 text-muted max-w-xl">
            An incomplete list of incomplete projects. In the future, I'd like
            to write a little bit about each of these.
        </p>
        <ul class="list-disc ml-4">
            <li>elixir_maty</li>
            <li>amps</li>
            <li>cx</li>
            <li>cipher</li>
            <li>rad</li>
            <li>st_parser</li>
            <li>scheduler_dsl</li>
        </ul>
    </section>
</Layout>
