---
import RootLayout from "../../layouts/RootLayout.astro";
---

<RootLayout title="Projects" id="projects">
    <section class="flex-1 pt-20">
        <h1 class="font-mono text-xl mb-8">Projects</h1>
        <ul class="list-disc ml-4">
            <li>elixir_maty</li>
            <li>amps</li>
            <li>cx</li>
            <li>rad</li>
            <li>st_parser</li>
            <li>scheduler_dsl</li>
        </ul>
    </section>
</RootLayout>
